.title_box h1 {
  font-size: 3em;        /* Title font size */
  font-weight: bold;     /* Make it bold */
  margin-bottom: 10px;
}

.title_box .author {
  font-size: 1.6em;
  font-weight: normal;
}

.title_box .affil {
  font-size: 1.2em;
  font-style: italic;
}
